h1 {
  color: purple;
  text-align: right;
  line-height: 35px;
}
h2 {
  font-style: bold;
  font-size: 40px;
  font-family: fantasy;
  text-align: center;
  color:green;
}

p {
  font-size: 100px;
  color: yellow;
  font-family: sans-serif;
}

ol {
  border: 5px;
  border-color: blue;
  font-size: 20px;
  line-height: 30px;
}
