h1 {
  color: orange;
  text-align: left;
  line-height: 20px;
}
h2 {
  font-style: italic;
  font-size: 80px;
  font-family: fantasy;
  text-align: left;
  color:green;
}

p {
  padding-right: 200px;
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;
}
